{% extends 'base.html' %}
{% load static %}
{% block title %}Chatroom{% endblock %}
{% block body %}

{% if user.is_authenticated %}
<div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form name="FormControlTextarea1" id="FormControlTextarea1">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="FormControlTextarea1" class="h4 pt-5">Chatroom</label>
                        <textarea class="form-control" id="chat-text" rows="10">
                        {% for message in messages %}
                        {{ message.user }}: {{ message.message }}
                        {% endfor %}
                        </textarea><br>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="input" type="text"></br>
                    </div>
                    <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
                </form>
            </div>
        </div>
    </div>

{{ request.user.username|json_script:"user_username" }}
{{ room_name|json_script:"room-name" }}
<script>
    const user_username = JSON.parse(document.getElementById('user_username').textContent);
    document.querySelector('#submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': user_username,
        }));
        messageInputDom.value = '';
    };

    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n')
    }
</script>
{% else %}
<div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <label class="h4 pt-5">Please log in your account to access the chatrooms</label>
            </div>
        </div>
</div>
{% endif %}
{% endblock %}