{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
{% if user.is_authenticated %}
    {% for chatroom in rooms %}
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <a href="{% url 'room' chatroom.room_name %}">{{ chatroom.room_name }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <label class="h4 pt-5">Please log in your account to access the chatrooms</label>
                </div>
            </div>
    </div>
{% endif %}
{% endblock %}